@import "./variables.scss";

.order-wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100vw - 60px);
    height: 100vh;
}

.tabs__border {
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
}

.tab-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type:none;
    padding: 0 64px;
    margin: 0;
}

.tab__item-btn {
    font-family: $ff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $color-grey;
    margin: 7px 0;
    cursor: pointer;
    border: none;
    background-color: $color-white;
    padding: 0;
}

.tab__item-icon {
    padding: 0 0 0 20px;
}

.tab__item_active {
    color: $color-text;
}

// .tab__item_filledup {
//     color: $color;
// }

.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order__window {
    flex-basis: 70%;
    padding: 32px 150px 0 64px;
}

.input-block {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input-wrp {
    padding: 7px 0;
}

.input-block__label {
    font-family: $ff;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color;
    margin: 0 5px 0 0;
}

.input-block__input {
    width: 224px;
    border: none;
    border-bottom: 1px solid $color-grey;
}

.place__text {
    font-family: $ff;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color;
    padding: 30px 0 0 0;
}

.place__pic img {
    max-width: 100%;
}

.total {
    width: 288px;
    padding: 32px 64px 0 32px;
    border-left: 1px solid $color-grey-light;
    height: calc(100vh - 165px);
}

.total__title {
    font-family: $ff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: $color-title;
}

.total-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-wrp .total__text,
.total-wrp .total__city {
    flex: 1 0 auto;
}

.total-wrp .dots {
    flex: 0 1 auto;
    /*Allows too long content to be hidden.*/
    overflow: hidden;
}

.dots  {
    font-family: $ff;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-grey;
}

.dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    content: 
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
}

.total__text {
    font-family: $ff;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-title;
}

.total__city {
    font-family: $ff;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-grey;
}

.total__price {
    font-family: $ff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $color-title;
}

.total__button {
    font-family: $ff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $color-white;
    background: $color-grey-light;
    border-radius: 8px;
    border: none;
    padding: 15px 0;
    width: 100%;
}

.total__button_active {
    background: $color-text;
    cursor: pointer;
}

@media #{$media} and (min-width: 1024px) and (max-width: 1439px) { 

    .order__window {
        padding: 32px 32px 0 32px;
    }

    .tab-list {
        padding: 0 32px;
    }

    .total {
        padding: 32px 32px 0 32px;
    }

}

@media #{$media} and (min-width: 768px) and (max-width: 1023px) {

    .order__window {
        padding: 32px 32px 0 64px;
    }

    .total__button {
        font-size: 16px;
    }

    .total {
        width: 25vw;
    }

}

@media #{$media} and (min-width: 320px) and (max-width: 767px) {

    .order-wrp {
        width: 100vw;
    }

    .order {
        flex-wrap: wrap;
    }

    .order__window {
        flex-basis: 100%;
        padding: 16px 16px 0 16px;
    }

    .tab-list {
        padding: 0 16px;
        flex-wrap: wrap;
    }

    .input-block {
        width: 250px;
        margin: 0 auto;
    }

    .total {
        width: 100vw;
        height: auto;
        border: none;
        padding: 16px 0;
    }

    .total__title,
    .total-wrp,
    .total__price {
        padding: 0 16px;
    }

}